:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #FF8DCB;
  --h1-title-color: #FFC2E6;
  --accent-title-color: #353430;
  --title-color: #353430;
  --corner-color: #353430;
  --menu-color: #353430;
  --content-section-title-color: #353430;
  --background-color: #FFF1F7;

  .rec-badge {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --accent-color: #FF8DCB;
    --h1-title-color: #FFC2E6;
    --accent-title-color: #353430;
    --title-color: #353430;
    --corner-color: #353430;
    --menu-color: #353430;
    --content-section-title-color: #353430;
    --background-color: #FFF1F7;
  }

  .rec-badge {
    display: none;
  }
}
