:root {
  --background-image: url("../images/cover-image-dark.png");
  --font-family-main: 'IBM Plex mono';
  --accent-color: #FF0070;
  --h1-title-color: #DB00FF;
  --accent-title-color: #000028;
  --title-color: #F1B2CE;
  --corner-color: #FF0070;
  --menu-color: #FF0070;
  --content-section-title-color: #FF0070;
  --background-color: #000028;
}
